.dashboard{
    overflow: hidden;
    display: grid;
    grid-template-columns: 5vw 95vw;
    width: 100vw;
}

.menu{
    background-color: white;
    height: 100vh;;
}

.rutas{
    overflow: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3vh 0;
}