.container{
    width: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.celdas{
    text-align: center !important;
}

.acciones{
    display: flex;
    justify-content: center;
}

.cabecera{
    display: flex;
    justify-content: space-evenly;
    gap: 5vw;
    margin-bottom: 4vh;
}